body {
  margin: auto;
  background-image: url("pictures/table7.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a {
  color: var(--primary-2);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin: 100px 100px 100px auto;
  width: 50%;
  padding: 20px;
  background-color: #f6cccc;
  border-radius: 4px;
}

.navbar {
  background-color: rgb(249, 218, 218);
  padding: 5px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#output {
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  padding: 10px 5px;
  border: 0;
}
#calculator {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  grid-gap: 10px;
  max-width: 230px;
  background-color: #dcdcdc;
  padding: 15px;
  border-radius: 4px;
}
#calculator button {
  border-radius: 50%; /* Making buttons round */
  outline: none;
  border: 0.5px solid rgba(76, 67, 61, 0.757);


}
#calculator button:active {
  background-color: rgb(237, 186, 142);
  color: white;
}
.zero {
  grid-column: 1 / span 2;
  border-radius: 2px;
}
.operation,
.equal {
  font-weight: bold;
  font-size: 16px;
}
